$blue: #0066ff;

body {
    font: 14px Arial;
    color: #444;
    margin: 0;
    padding: 0;
}

#logo {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    padding: 15px 0 0 20px;
}

#cont {
    padding: 20px;
}
#cabecera {
  background-color: $blue;
  height: 70px;
}
#cabecera-logo-umaic {
  background: rgba(0, 0, 0, 0) url("../images/cabecera-consulta-umaic.png") no-repeat scroll 0 0;
  height: 50px;
  margin: 10px 20px;
  width: 151px;
}

// Boostrap hacks
.btn-primary {
  background-color: $blue !important;
}
