# Turn on URL rewriting only when mod rewrite is turn on

<IfModule mod_rewrite.c>
	RewriteEngine On

	# Installation directory
	RewriteBase /

	# Protect application and system files from being viewed
	#RewriteRule ^(media) - [F,L]

	# Allow any files or directories that exist to be displayed directly
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d

	# Rewrite all other URLs to index.php/URL

    RewriteRule ^([a-z]+)/([a-z]+)/(.+)$ index.php?m=$1&a=$2&p=$3 [L,QSA]
</IfModule>

# Protect the htaccess from being viewed
<Files .htaccess>
	order allow,deny
	deny from all
</Files>
