<div class="row" *ngIf="auth.authenticated()">
    <div id="left" class="col-md-2 col-sm-3">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <a routerLink="/diccionario" class="btn btn-default"><i class="fa fa-book"></i> Diccionario</a>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" (click)="auth.logout()"><i class="fa fa-sign-out"></i> Salir</button>
            </div>
        </div>
        <br />
        <form>
            <div class="form-group">
                <select class="form-control" (change)="onSiteChange($event.target.value)">
                     <option value="">Seleccione un medio</option>
                     <option [value]="site.spider" *ngFor="let site of sites">{{site.name}}</option>
                 </select>
            </div>
            <div class="form-group">
                <label for="date">Fecha</label>
                <input [(ngModel)]="date" type="text" name="date" class="form-control">
            </div>
            <div class="form-group">
                <button type="button" (click)="getNews()" class="btn btn-primary btn-block">Listar noticias</button>
            </div>
        </form>
    </div>
    <div class="col-md-10 col-sm-9">
        <div *ngIf="news">
            <table id="news_table">
                <thead>
                    <tr>
                        <th>
                            Noticia
                        </th>
                        <th>
                            Fecha
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let n of news">
                        <td>
                            <a href="{{ n.link }}" target="_blank">{{ n.title }}</a>
                        </td>
                        <td>
                            {{ n.cdate }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
